/target
/result
/result-*
/uniffi-rs
/Cargo.lock
experiments/*
og-fixtures/*
.vscode/*
.direnv/
.aider*
.dart_tool/*
**/.dart_tool/*
rust-toolchain.toml
internal_todo.md
ISSUES.md
convert_fixtures.sh
.DS_Store
